<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}
            {% if title %}{{ title }} - {% endif %}
        {% endblock %}</title>
        {% block styles %}
            <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
             <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
            <!-- stylesheet - includes bootstrap -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        {% endblock %}
    </head>
    <body id="page-top">
{% block navbar %}
    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="deep">Deep</span>Otolith</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#prediction-app">Predict</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Who we are</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about2">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}

    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © <span class="deep">Deep</span>Otolith 2022</div></footer>
{% endblock %}

{% block scripts %}
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    {# application js needs to be provided in the app_scripts block #}
    {% block app_scripts %}{% endblock %}
{% endblock %}
    </body>
</html>
