{% extends "base.html" %}

{% block app_content %}
<p class="font-weight-bold">References</p>
  <ul>
    <li>Politikos et al. 2021</li>
    <li>Moen et a.., 2028</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
  </ul>

<p class="font-weight-bold">Contributors:</p>

<ul>
     <li>Specifications: N. Sikiniotis, D. Politikos</li>    
    <li>Development: Nikos Sikiniotis</li>
    <li>Deep learning: D. Politikos, G. Petasis, k. Malde, ?????</li>
    <li>Data:</li>
  </ul>
  
<p> The design and implementation was developed in Python language with Flask.</p>

<p>We declare that images are not stored neither are sent to third parties.</p>
{% endblock %}
